.movielist
{
  display:flex;
flex-wrap: wrap;
justify-content: space-between;
}
.addmovie
{
margin-top:  20px;
margin-left: 50%;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
	background-position: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 
  
.card{
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
 overflow:hidden;
 border-radius:20px;
 min-height:400px;
   box-shadow: 0 0 12px 0 rgb(0, 0, 0) ;
}